<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Assignment 1</title>

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
	<!--
	Assignment 1 : My Favourites run on web browser
	1.	Create a Vue App for user to add favourite links.  No need to have persistence storage
	2.	Allow user to input into these fields
		a)	Name of link
		b)	Link Path
		c)	Icon Path
		d)	Date created
	3.	Methods: Add, delete, edit
	4.	When user click on it, it would take user to the link
	-->	

	<div id="app">
		<form @submit.prevent="addItem">
			<p>Name of Link: <input type="text" v-model="linkname"></p>
			<p>Link Path: <input type="text" v-model="linkpath"></p>
			<p>Icon Path: <input type="text" v-model="iconpath"></p>
			<p>Date Created: <input type="text" v-model="datecreated"></p>
			<button>Add</button>
		</form>
		<br><br>
		<div v-for="(item, index) in items" :key="item.id">
			<div>
				<hr>
				<div>
					Item {{ item.id }}:
					{{ item.linkname }}
					<img :src="item.iconpath" height="50" width="100" alt="item.linkname">
				</div>
				<div align="right">
					<button @click="deleteItem(index)">Delete</button>				
					<button @click="toggleEdit(index)">Edit</button>
					<div v-if="item.editenable">
						<form @submit.prevent="editItem(index)">
							<font color="red">Only completed textboxes will be updated</font>
							<p>New Name of Link: <input type="text" v-model="editLinkname"></p>
							<p>New Link Path: <input type="text" v-model="editLinkpath"></p>
							<p>New Icon Path: <input type="text" v-model="editIconpath"></p>
							<p>New Date Created: <input type="text" v-model="editDatecreated"></p>
							<button>Update</button>
						</form>
					</div>
				</div>
				<a :href="item.linkpath" target="_blank"> {{ item.linkpath }} </a>
				<br>
				Date Created: {{ item.datecreated }}
				<hr>
			</div>
		</div>	
	</div>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				counter: 1,
				linkname: "",
				linkpath: "",
				iconpath: "",
				datecreated: "",
				items: [
				{ 	'id': 1,
					'linkname': 'Google', 
					'linkpath': 'https://google.com/',
					'iconpath': 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png',
					'datecreated': '11/12/2020',
					'editenable': false}
				],
				editLinkname: "",
				editLinkpath: "",
				editIconpath: "",
				editDatecreated: ""				
			},
			methods: {
				addItem: function(){
					this.items.push({
						'id': ++this.counter,
						'linkname': this.linkname, 
						'linkpath': this.linkpath, 
						'iconpath': this.iconpath, 
						'datecreated': this.datecreated,
						'editenable': false})
					this.linkname = ''
					this.linkpath = ''
					this.iconpath = ''
					this.datecreated = ''
				},
				toggleEdit: function(index){
					this.items[index].editenable = !this.items[index].editenable
				},
				editItem: function(index){
					if(this.editLinkname != ""){
						this.items[index].linkname = this.editLinkname
					}
					
					if(this.editLinkpath != ""){
						this.items[index].linkpath = this.editLinkpath
					}
					
					if(this.editIconpath != ""){
						this.items[index].iconpath = this.editIconpath
					}

					if(this.editDatecreated != ""){
						this.items[index].datecreated = this.editDatecreated
					}
					this.editLinkname = ''
					this.editLinkpath = ''
					this.editIconpath = ''
					this.editDatecreated = ''					
				},
				deleteItem: function(index){
					this.items.splice(index, 1)
				}
			}
		})
	</script>
</body>
</html>
